/* sets that when defining the dimensions of the box, the entire box is taken into account, 
i.e. border and padding and content and not just content */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* !!!!come back to this and check how to set roboto font, 'Roboto'*/
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    width: fit-content;
}

button {
    cursor: pointer;
}

button:hover {
    animation: pulse 1
}

/* styles for the top of the page: */
.header {
    display: flex;
    flex-direction: column;
    gap: 150px;
    background-color: #1F2937;
    padding: 30px 30px 160px 30px;
    align-items: center;
}

.header-top {
    width: 1195px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex-shrink: 1;
}

ul {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header-anchor {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
    gap: 145px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 100px;
}

.img-container {
    max-width: 600px;
    max-height: auto;
}

.hero-img {
    max-width: 100%;
    max-height: auto;
    border-radius: 8px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    max-width: 450px;
    min-width: 250px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    font-size: 21px;
    border: 1px solid black;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
}

/* styles for the second part of the page: */
.second-part {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 130px;
    padding-left: 30px;
    padding-right: 30px;
}

.second-part-bottom {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* !!! Come back later and reduce the size of images and containers if necessary */
    width: 250px;
    gap: 20px;
}

.img-square {
    width: 250px;
    height: 250px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    background: white url('https://images.pexels.com/photos/159108/light-lamp-electricity-power-159108.jpeg?auto=compress&cs=tinysrgb&w=1600')
                50% 50%/auto 250px no-repeat;
}

.img-square:hover {
    filter: invert();
}

.description-text {
    text-align: center;
    color: #34383d;
    font-size: 19px;
}

.second-part-top {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

/* styles for the middle part of the page: */
.middle-part {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 30px 110px 30px;
}

.middle-part-container {
    max-width: 830px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #474c52;
    align-self: flex-start;
}

.author {
    align-self: flex-end;
    padding-right: 12px;
    color: #1F2937;
    font-size: 22px;
    font-weight: 800;
}

/* styles for the fourth part of the page: */
.fourth-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 30px;
}

.blue-container {
    background-color: #3882F6;
    padding: 40px 5.91%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    row-gap: 20px;
}

.blue-container-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.blue-container-text-container-bottom {
    font-size: 18px;
    color: #E5E7EB;
}

.blue-container-text-container-top {
    font-size: 22px;
    color: white;
    font-weight: 800;
    min-width: 148px;
    text-align: center;
}

.bottom-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 30px;
    font-size: 21px;
    border: 2px solid white;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
}

.button-container-bottom {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* styles for the bottom part of the page: */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 40px 30px;
}

.footer-text {
    color: white;
    text-align: center;
}